body {
  font-family: 'Roboto', sans-serif;
  background-color: #faf7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 70px;
  background-color: #e7c9c9;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(12, 12, 12, 0.2);
}

h1 {
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 10px;
}

#maze-container {
  margin: 20px auto;
  text-align: center;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.controls button {
  padding: 15px 30px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #963779;
  color: rgb(245, 245, 245);
  transition: background-color 0.3s ease;
}

.controls button:hover {
  background-color: #745d69;
}

.dropdowns {
  display: flex;
  gap: 15px;
  align-items: center;
}

.controls select {
  padding: 15px;
  font-size: 15px;
  border: 5px solid #774165;
  border-radius: 60px;
}

#info {
  text-align: center;
  margin-top: 20px;
}

#info p {
  font-size: 14px;
  color: #660847;
}

#info span {
  font-weight: bold;
}

#maze-grid {
  border-collapse: collapse;
  margin: 0 auto;
}

#maze-grid td {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
}

.start {
  background-color: #619c6f;
}

.end {
  background-color: #688aad;
}

.wall {
  background-color: #5c3e55;
}

.path {
  background-color: #ffffff;
}

.path.red {
  background-color: #e05c69;
}

.explored {
  background-color: #ffc107;
}